ExcelTool\obj
ExcelTool\bin\Debug\net9.0\ExcelTool.dll
ExcelTool\bin\Debug\net9.0\ExcelTool.pdb
ExcelTool\bin\Debug\net9.0\ExcelTool.exe
.idea
ExcelTool.sln.DotSettings.user
ExcelTool/csharpOutput
ExcelTool/bin/Debug/net9.0/ExcelTool.dll
ExcelTool/bin/Debug/net9.0/ExcelTool.pdb
ExcelTool/obj/ExcelTool.csproj.nuget.dgspec.json
.gitignore
ExcelTool/obj/ExcelTool.csproj.nuget.g.props
.gitignore
ExcelTool/obj/ExcelTool.csproj.nuget.g.targets
ExcelTool/obj/project.assets.json
ExcelTool/obj
